@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Reem+Kufi:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Robot", "sans-serif";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Readex Pro, Reeem Kufi, Work Sans;
}

.countryWrapper .dropSelect {
  width: 190px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-left: 10px;
  padding-left: 10px;
  height: 50px;
  /* border: ; */
  border-radius: 3px;
  border: 2px solid #bce3c9;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.countryWrapper .dropSelect .openSelect {
  width: 100%;
  left: 0px;
  
}
.countryWrapper .dropSelect .menu {
  position: absolute;
  left: 0;
  top: 50px;
}
/* @apply w-full text-left items-start text-[#000] capitalize text-[16px] py-[10px] px-[15px]; */

.accountBtn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  color: #000;
  text: capitalize;
  font-size: 16px;
  padding: 10px 15px;
}
