@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Reem+Kufi:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

body {
  font-family: "Robot", "sans-serif";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Readex Pro, Reeem Kufi, Work Sans;
}

.countryWrapper .dropSelect {
  width: 190px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-left: 10px;
  padding-left: 10px;
  height: 50px;
  /* border: ; */
  border-radius: 3px;
  border: 2px solid #bce3c9;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.countryWrapper .dropSelect .openSelect {
  width: 100%;
  left: 0px;
}
.countryWrapper .dropSelect .openSelect .downarrow {
  position: absolute;
  top: 15px;
  right: 10px;
}
.countryWrapper .dropSelect .menu {
  position: absolute;
  left: 0;
  top: 50px;
}
/* @apply w-full text-left items-start text-[#000] capitalize text-[16px] py-[10px] px-[15px]; */

.accountBtn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  color: #000;
  text: capitalize;
  font-size: 16px;
  padding: 10px 15px;
}
.slick-arrow {
  position: absolute;
  top: 48%;
  width: 45px;
  height: 43px;
  border-radius: 50%;
  background-color: #3bb77e;
  z-index: 40;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.slick-arrow:hover {
  background-color: #3bb77e;
}
.slick-arrow.slick-next {
  right: 2%;
}
.slick-arrow.slick-prev {
  left: 2%;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
}
/* .slick-dots button ::after {
  width: 12px;
  height: 12px;
  font-size: 22px;
  background-color: #3bb77e;
} */

.cateSlider .slick-slide {
  padding-right: 22px;
  /* border-radius: 10px; */
}
.cateSlider .slick-arrow.slick-next {
  top: -60px;
  right: 10px;
  background-color: rgb(222, 222, 222);
}
.cateSlider .slick-arrow.slick-prev {
  top: -60px;
  right: 80px;
  left: inherit;
  background-color: rgb(222, 222, 222);
}
.newsLetterBg {
  background: url(../src/assets/bgnewsletter-10.png);
}
.breadCrumbBg {
  background: url(../src/assets/breadcrumbBG-bg.png);
}
